[submodule "ECAD/ecad_labs"]
	path = ECAD/ecad_labs
	url = jbs52@chime.cl.cam.ac.uk:jbs52/ecad_labs
[submodule "Further Java/further_java_ticklet_2"]
	path = Further Java/further_java_ticklet_2
	url = jbs52@chime.cl.cam.ac.uk:jbs52/further_java_ticklet_2
[submodule "Further Java/further_java_ticklet_3"]
	path = Further Java/further_java_ticklet_3
	url = jbs52@chime.cl.cam.ac.uk:jbs52/further_java_ticklet_3
[submodule "Further Java/further_java_ticklet_4"]
	path = Further Java/further_java_ticklet_4
	url = jbs52@chime.cl.cam.ac.uk:jbs52/further_java_ticklet_4
[submodule "Further Java/further_java_ticklet_5"]
	path = Further Java/further_java_ticklet_5
	url = jbs52@chime.cl.cam.ac.uk:jbs52/further_java_ticklet_5
[submodule "Group Project/API"]
	path = Group Project/API
	url = https://github.com/Group-Charlie-2022/API
[submodule "Group Project/SlackBot"]
	path = Group Project/SlackBot
	url = https://github.com/Group-Charlie-2022/SlackBot
[submodule "Group Project/WebClient"]
	path = Group Project/WebClient
	url = https://github.com/Group-Charlie-2022/WebClient
[submodule "Group Project/DiscordBot"]
	path = Group Project/DiscordBot
	url = git@github.com:Group-Charlie-2022/DiscordBot.git
