<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/tick1/src/uk/ac/cam/cl/gfxintro/jbs52/tick1/Tick1.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="uk.ac.cam.cl.gfxintro.jbs52.tick1.Tick1"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="tick1"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="tick1"/>
</launchConfiguration>
